<header class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
      <a href="../" class="navbar-brand">ROGFRENANGULO'S</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarResponsive" aria-controls="navbarResponsive" 
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes"> Soporte TI 
              <span class="caret"></span></a>
            <div class="dropdown-menu" aria-labelledby="themes">
              <a class="dropdown-item" routerLink="usuario">Agregar Nuevo Usuario</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="tipocuenta">Agregar Cuentas</a>
              <a class="dropdown-item" routerLink="servicios">Agregar Servicios</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
</header>
  
          
        
      
  