.bienvenida{
    text-align: center;
}

.hecho{
    text-align: center;
    padding-top: 4px;
    margin: 10px;
}
.jumbotron{
padding: 50px;
margin: 50px;
}

.container{
   padding: 5px;
   margin: 50px;
   margin-left: 250px;
   
}

.navbar-brand{
    vertical-align: inherit;
}
