<div class="jumbotron">
    <div class="bienvenida">
      <h1 class = "text-warning display-3">Servicios</h1>
      <h3 class="text-info">Area para ingresar los servicios a utilizar, para realizar las transacciones</h3>
      <h4 class="text-info">Ejemplo: servicios publicos: agua, luz, gas</h4>
      <br>
      </div>
  </div>

<div class="jumbotron">
  <div class="container">
  <form action="">
      <fieldset>
        <div class = "form-group">
            <label for = "exampleName vertical-align: heredar"> Descripcion del servicio </label>
            <input type = "name" class = "form-control" id = "exampleName"
             placeholder = "Ingresar descripcion del servicio">
          </div>        
     </fieldset>
    <button type = "submit" class = "btn btn-primary">Enviar</button>
  
  </form>
 </div>
</div>
