<div class="jumbotron">
    <div class="bienvenida">
      <h1 class = "text-warning display-3">Servicios</h1>
      <h3 class="text-info">Area para ingresar los servicios a utilizar, para realizar las transacciones</h3>
      <h4 class="text-info">Ejemplo: servicios publicos: agua, luz, gas</h4>
      <br>
      </div>
  </div>

  <div class="container">    
    <div id="loginbox" style="margin-top:80px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
            <div class="panel-heading">
              <div class="jumbotron">
        <div class = "form-group">
            <label for = "exampleName vertical-align: heredar"> Descripcion del servicio </label>
            <input type = "name" class = "form-control" id = "exampleName"
             placeholder = "Ingresar descripcion del servicio">
          </div>
          <button type = "submit" class = "btn btn-primary">Enviar</button>        
        </div>
        
  </div>
      </div>
 </div>
</div>
