<div class="jumbotron">
    <div class="bienvenida">
      <h1 class = "text-warning display-3">Tipo de cuenta</h1>
      <h3 class="text-info " >Area para ingresar las cuentas bancarias, que se podran utilizar para el sistema</h3>
      <br>
      </div>
  </div>

  <div class="container">    
    <div id="loginbox" style="margin-top:80px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
            <div class="panel-heading">
              <div class="jumbotron">
        <div class = "form-group">
            <label for = "exampleName vertical-align: heredar"> Descripcion de la Cuenta </label>
            <input type = "name" class = "form-control" id = "exampleName"
             placeholder = "Ingresar descripcion de la cuenta">
          </div>  
          <button type = "submit" class = "btn btn-primary">Enviar</button>      
        </div>
    </div>
 </div>
</div>
